<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://223.84.218.77:9000/ipa/hzzSampleLean/hzzSampleLean.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://101.71.3.57:9000/ipa/hzzSample_57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://101.71.3.57:9000/ipa/hzzSample_512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.uhope.hzzSimpleJinhua</string>
				<key>bundle-version</key>
				<string>1.3.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>乐安县河长制简化版</string>
				<key>updateMsg</key>
				<string>修复反馈的问题</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
